<!-- Create your form here -->
<title>Student Form</title>

<%= form_tag '/students' %>
    <label>First Name:</label><br>
  <%= text_field_tag :first_name %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :last_name %><br>

<%= submit_tag "Submit Student" %>